<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Overlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Overlay.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Overlay.Properties.Settings>
            <setting name="colour" serializeAs="String">
                <value>-65536</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="stroke" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </Overlay.Properties.Settings>
        <Overlay.App>
            <setting name="colour" serializeAs="String">
                <value>-65536</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>5</value>
            </setting>
        </Overlay.App>
    </userSettings>
</configuration>